.jumbotron {
  padding-top: 6rem;
  background-color: black;
  margin-right: 0%;
  color: white;
}

#about {
  color: black;
}

#story {
  background-color: black;
  margin-right: 0%;
}

#gallery,
.row {
  color: black;
}

section {
  padding-top: 4rem;
}

footer {
  background-color: black;
}
