.jumbotron {
  padding-top: 6rem;
  background-color: black;
  color: white;
  width: auto;
}

#about {
  color: black;
}

#story {
  background-color: black;
  width: auto;
}

section {
  padding-top: 4rem;
}

footer {
  background-color: black;
}
